
#quizContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#quizContainer h1{
    width: 100%;
    color: #4CAF50;
    border-bottom: 4px dotted #4CAF50;
}

#quizContainer button{
    margin: 20px;
    display: block;
}

.quiz-section{
    display: none;
}

.scoreBox{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}

.end-quiz-section{
    display: none;
}

.endscreenTitle2{
    padding-top: 90px;
}

.scoreboard{
    display: none;
}

.timerBox{
    display: none;
    position: fixed;
    top: 32px;
    left: 0;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}